@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, img {
	display: block;
}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {box-sizing: border-box;}
body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(36, 100%, 99%);
    min-height: 100vh;
}
.wrapper, main, .web-img {width: 100%;}
.nav-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 1.5rem;
}
li {transition: all 0.5s;}
li:hover {
    cursor: pointer;
    color: hsl(5, 85%, 63%);
}
.left-side {margin: 0 1.5rem;}
h1 {
    margin: 1rem 2.5rem 1rem 0;
    font-size: 2.1rem;
    font-weight: 800;
    line-height: 1.2;
}
.read-more p {
    line-height: 1.5;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}
button {
    font-family: 'Inter', sans-serif;
    background-color: hsl(5, 85%, 63%);
    border: none;
    width: 11rem;
    color: white;
    padding: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 400;
    font-size: 0.9rem;
    transition: all 0.5s;
}
button:hover {
    background-color: hsl(240, 100%, 5%);
    cursor: pointer;
}

.right-side {
    margin: 2.5rem 1.5rem 0;
    background-color: hsl(240, 100%, 5%);
    padding: 2rem 1.5rem;
}
.right-side > section {
    margin: 1.5rem 0 0;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
}
.right-side h2 {
    color: hsl(35, 77%, 62%);
    font-size: 1.85rem;
    font-weight: 700;
}
.right-side h3 {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    transition: all 0.5s;
}
.right-side h3:hover {
    cursor: pointer;
    color: hsl(35, 77%, 62%);
}
.right-side p {
    line-height: 1.5;
    font-size: 0.9rem;
    color: white;
    opacity: 0.7;
    margin-bottom: 1.5rem;
}
.right-side > section:nth-of-type(3){
    border-bottom: none;
}

.bottom-page {
    margin: 4rem 1.5rem 2.5rem;
}
.bottom-page > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.bottom-page img {width: 6rem;}
.bottom-page h4 {
    color: hsl(233, 8%, 79%);
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.bottom-page h5 {
    font-size: 1.1rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    color: hsl(240, 100%, 5%);
    line-height: 1.5;
    transition: all 0.5s;
}
.bottom-page h5:hover {
    cursor: pointer;
    color: hsl(5, 85%, 63%);
}
.bottom-page p {
    line-height: 1.5;
    font-size: 0.9rem;
}

@media screen and (max-width: 540px){
    #side-menu {
        height: 100%;
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed;
        z-index: 1;
        top: 0; 
        right: 0;
        background-color: white; 
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 2rem; 
        transition: 0.5s; 
    }
    #nav-list {
        position: absolute;
        top: 10rem;
    }
    #nav-list li {
        margin-bottom: 2rem;
        margin-left: 1.5rem;
        transition: all 0.5s;
    }
    li:hover {
        cursor: pointer;
        color: hsl(5, 85%, 63%);
    }
    #close-btn {
        position: absolute;
        top: 2.2rem;
        right: 2rem;
      }
    .desktop-menu {
        display: none;
    }
}

@media screen and (min-width: 541px) {
    #side-menu, #menu-btn {display: none;}
    .main-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .desktop-menu {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-right: 1.5rem;
    }
}

@media screen and (min-width: 630px) and (max-width: 920px) {
    li {font-size: 1.1rem;}
    h1 {font-size: 2.2rem; margin-top: 2rem;}
    .read-more p {font-size: 1.05rem;}
    .bottom-page h5 {font-size: 1.2rem;}
    .bottom-page p {font-size: 1.05rem;}
    .nav-img {
        margin-left: 3rem;
    }
    .desktop-menu {
        margin-right: 3rem;
    }
    .main-nav {margin-top: 1rem; margin-bottom: 1rem;}
    .left-side {margin: 0 3rem;}
    .right-side {
        margin-right: 3rem;
        margin-left: 3rem;
    }
    .bottom-page {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media screen and (min-width: 921px) and (max-width: 1440px) {
    .desktop-menu {gap: 2rem;}
    li {font-size: 1.1rem;}
    .desktop-menu {margin-right: 0;}
    .main-nav {
        margin: 3rem 5rem;
    }
    .container-body {
        display: grid;
        grid-template-columns: 2.2fr 0.9fr;
        gap: 1rem;
        margin: 0 5rem;
    }
    .right-side {margin: 0;}
    .bottom-page {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5rem;
        margin-left: 6rem;
        margin-right: 6rem;
    }
    .left-side-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
        margin-top: 2rem;
    }
    h1 {
        font-size: 3.5rem;
        line-height: 1;
        font-weight: 900;
        margin: 0 2rem 0 0;
    }
    .read-more p {font-size: 1rem;}
    .right-side h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}