@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, img {
	display: block;
}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {box-sizing: border-box;}
body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(36, 100%, 99%);
    min-height: 100vh;
}
.wrapper, main {
    width: 100%;
}
.web-img{
    width: 100%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 1.5rem;
}

/* to treat later */
#nav-list {
    display: none;
}


.left-side {
    margin: 0 1.5rem;
}
h1 {
    margin: 1rem 2.5rem 1rem 0;
    font-size: 2.1rem;
    font-weight: 800;
    line-height: 1.2;
}
.read-more p {
    line-height: 1.5;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}
button {
    font-family: 'Inter', sans-serif;
    background-color: hsl(5, 85%, 63%);
    border: none;
    width: 11rem;
    color: white;
    padding: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 400;
    font-size: 0.9rem;
    transition: all 0.5s;
}
button:hover {
    background-color: hsl(240, 100%, 5%);
    cursor: pointer;
}

.right-side {
    margin: 2.5rem 1.5rem 0;
    background-color: hsl(240, 100%, 5%);
    padding: 2rem 1.5rem;
}
.right-side > section {
    margin: 1.5rem 0 0;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
}
.right-side h2 {
    color: hsl(35, 77%, 62%);
    font-size: 1.85rem;
    font-weight: 700;
    /* margin-bottom: 1.5rem; */
}
.right-side h3 {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.right-side p {
    line-height: 1.5;
    font-size: 0.9rem;
    color: white;
    opacity: 0.7;
    margin-bottom: 1.5rem;
}
.right-side > section:nth-of-type(3){
    border-bottom: none;
}
/* .last-para {margin-bottom: 0;} */

.bottom-page {
    margin: 4rem 1.5rem 2.5rem;
}
.bottom-page > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.bottom-page img {
    width: 6rem;
}
.bottom-page h4 {
    color: hsl(233, 8%, 79%);
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.bottom-page h5 {
    font-size: 1.1rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    color: hsl(240, 100%, 5%);
}
.bottom-page p {
    line-height: 1.5;
    font-size: 0.9rem;
}